AUTH_SERVICE_URL=http://localhost:7202
QUIZ_SERVICE_URL=http://localhost:7208
QUIZ_SOCKET_URL=http://localhost:7208
QUIZ_SOCKET_PATH=/quiz.io/
ADMIN_API_URL=http://localhost:7202
ADMIN_EMAIL=admin@quizhub.com
ADMIN_PASSWORD=Admin@123
